.footer {
  text-align: center;
}

.page-container {
  margin-bottom: 0px;
  /* Adjust this value to your desired gap size */
}

.contact-section {
  margin-top: 0px;
  /* Adjust this value to your desired gap size */
  padding-top: 0px;
}
.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
  font-size: 20px;
  font-weight: 450;
}
